r.block-compare  .block-title strong{
    display:inline-block;
}

.block-compare  .block-title .collapse_icon{
    height: 20px;
    width: 20px;
    display:inline-block;
    line-height: 20px;
    cursor: pointer;
}

.block-compare  .block-title .before{float:left;}
.block-compare  .block-title .after{float: right;}

.block-compare .open{
    background: url('../../images/arrow-close.png') 99% 50% no-repeat;
}

.block-compare .close{
    background: url('../../images/arrow-open.png') 99% 50% no-repeat;
}