.block-cart  .block-title strong{
    display:inline-block;
}

.block-cart .block-title .collapse_icon{
    height: 20px;
    width: 20px;
    display:block;
    line-height: 20px;
    cursor: pointer;
}

.block-cart .block-title .before{float:left;}
.block-cart .block-title .after{float: right;}

.block-cart .open{
    background: url('../../images/arrow-close.png') 99% 50% no-repeat;
}

.block-cart .close{
    background: url('../../images/arrow-open.png') 99% 50% no-repeat;
}