.block-related  .block-title strong{
    display:inline-block;
}

.block-related .block-title .collapse_icon{
    height: 20px;
    width: 20px;
    display:inline-block;
    line-height: 20px;
    cursor: pointer;
}
 
.block-related .block-title .before{float:left;}
.block-related .block-title .after{float: right;} 

.block-related .open{
    background: url('../../images/arrow-close.png') 99% 50% no-repeat;
}

.block-related .close{
    background: url('../../images/arrow-open.png') 99% 50% no-repeat;
}