.short-description h2{
/*background: #EEE url('../../images/arrow-open.png') 3px 50% no-repeat;
height: 25px;
line-height: 25px;
padding-left: 30px;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border: 1px solid #CCC;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);*/
cursor: pointer;
}

.short-description .collapse_icon{
/*background: url('../../images/arrow-close.png') 99% 50% no-repeat;*/
height: 20px;
width: 20px; 
display:block;
line-height: 20px;
cursor: pointer; 
}

.short-description .before{float:left; margin-right: 5px;}
.short-description .after{float: right; margin-left: 5px;}

.short-description .open:first-child{
background: url('../../images/arrow-close.png') 99% 50% no-repeat;
}

.short-description .close:first-child{
background: url('../../images/arrow-open.png') 99% 50% no-repeat;
}