#addTagForm{
    display:block;
}

.box-tags h2{
    cursor: pointer;
}

.box-tags .open:first-child{
    background: url('../../images/arrow-close.png') 99% 50% no-repeat;
}

.box-tags .close:first-child{
    background: url('../../images/arrow-open.png') 99% 50% no-repeat;
}

.box-tags .collapse_icon{
    height: 20px;
    width: 20px;
    display:block;
    line-height: 20px;
    cursor: pointer;
}

.box-tags .before{float:left; margin-right: 5px;}
.box-tags .after{float: right; margin-left: 5px;}