#upsell-product-table{
    display:block;
}

.box-up-sell h2{
    cursor: pointer;
}

.box-up-sell .open{
    background: url('../../images/arrow-close.png') 99% 50% no-repeat;
}

.box-up-sell .close{
    background: url('../../images/arrow-open.png') 99% 50% no-repeat;
}

.box-up-sell .collapse_icon{
    height: 20px;
    width: 20px;
    display:block;
    line-height: 20px;
    cursor: pointer;
}

.box-up-sell .before{float:left; margin-right: 5px;}
.box-up-sell .after{float: right; margin-left: 5px;}